.flex {
  display: flex;
}

.info-container {
  width: 300px;
  flex-direction: column;
  background-color: rgb(224, 231, 255);
  margin: 25px;
  padding-top: 2px;
}

.info-container p {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(247, 251, 255);
  padding: 10px 10px;
  margin: 0px;
  margin-bottom: 2px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 10px;
  line-height: 1.25rem;
}

h1 span {
  font-size: 1rem;
}
